<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>TV Shows | Login & Registration</title>
        <!-- Materialize CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <!-- Materialize Icons-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body class="grey darken-2 grey-text text-lighten-5">
        <nav>
            <div class="nav-wrapper brown lighten-5">
                <a href="/" class="brand-logo grey-text text-darken-2" style="padding-left: 20px;">Where's The Stream?</a>
                <ul id="nav-mobile" class="right" style="padding-right: 20px;">
                    <li>
                        <a href="/" class="waves-effect waves-light btn green lighten-3 grey-text text-darken-2">Home</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container">
            <div class="row" style="margin-top: 10px;">

                <!-- Registration Column -->
                <div class="col s4 offset-s1">

                    <h3 class="lime-text text-accent-2">Register</h3>
                    <!-- Error Flash Messages -->
                    <div class="row red white-text">
                        {% with messages = get_flashed_messages(category_filter=["registration"]) %}
                            {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <!-- Registration Form -->
                    <form action="/register/user" method="POST">

                        <label for="username" class="grey-text text-lighten-5">Username:</label>
                        <input type="text" name="username" id="username" class="grey-text text-lighten-5">

                        <label for="email" class="grey-text text-lighten-5">Email:</label>
                        <input type="text" name="email" id="email" class="grey-text text-lighten-5">

                        <label for="password" class="grey-text text-lighten-5">Password:</label>
                        <input type="password" name="password" id="password" class="grey-text text-lighten-5">

                        <label for="pass_confirm" class="grey-text text-lighten-5">Confirm Password:</label>
                        <input type="password" name="confirm_password" id="confirm_password" class="grey-text text-lighten-5">

                        <button class="btn btn-large waves-effect waves-light lime accent-2 grey-text text-darken-2" type="submit" name="action" style="margin-bottom: 5px;">Register
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>

                <!-- Login Column -->
                <div class="col s4 offset-s1">
                    <h3 class="green-text text-lighten-3">Login</h3>
                    <!-- Error Flash Messages -->
                    <div class="row red white-text">
                        {% with messages = get_flashed_messages(category_filter=["login"]) %}
                            {% if messages %}
                                <ul>
                                    {% for message in messages %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endwith %}
                    </div>
                    <!-- Login Form -->
                    <form action="/login" method="POST">

                        <label for="email" class="grey-text text-lighten-5">Email:</label>
                        <input type="text" name="email" id="email" class="grey-text text-lighten-5">

                        <label for="password" class="grey-text text-lighten-5">Password:</label>
                        <input type="password" name="password" id="password" class="grey-text text-lighten-5">

                        <button class="waves-effect waves-light btn btn-large green lighten-3 grey-text text-darken-2" type="submit" name="action" style="margin-bottom: 5px;">Login
                            <i class="material-icons right">login</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <!-- Materialize JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </body>
</html>