@model Message

<div class="text-center">
    <h3 class="text-start">Message from: @Model.Sender.Username</h3>
    <h4 class="text-start">Proposed Price: @Model.ProposedPrice Coins</h4>
    <h5 class="text-start">Message:</h5>
    <p>@Model.MessageContent</p>
    <a href="/message/@Model.MessageId/reply">Reply</a>
    <a href="/swap/initiate">Accept</a>
</div>